:root {
    --button-height: 40px;
    --font-size-h2: 20px;
    background-color: #FF7575;
    background-image: linear-gradient(#FD757B, #DC74FC);

    /* background-image: linear-gradient(#1C91FF, #D675FF); */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

/* app */

.appContainer {
    width: 300px;
}

.appContainer h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.appContainer h2 {
    font-size: var(--font-size-h2);
    color: black;
    text-align: center;
}

#filterHeader {
    margin-top: 0;
}

/* contact item */

.contact {
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px;
}

.contact button {
    align-self: center;
    background-color: #D3E6FF;
    border: none;
    color: #2E3744;
    font-size: 16px;
    height: var(--button-height);
    width: 80px;
}

.contact img {
    /* margin-right: 20px; */
    width: 40px;
    height: 40px;
}

.contact__person {
    word-break: break-all;
    margin: 0 6px;
}

.contact__person #name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 2px;
    text-align: center;
}

.contact__person #number {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.inputContainer {
    box-sizing: border-box;
    background-color: #f9d745;
    /* background-image: linear-gradient(#1C91FF, #D675FF); */
    border: 2px solid black;
    padding: 20px;
}

/* contact list */

#contactListHeader {
    color: white;
    font-size: 34px;
}

.contactListContainer {
    margin-bottom: 180px;
}

/* search contacts */

.search input {
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}

/* add contact */

div.addContact__input {
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.addContact #inputContact {
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 16px;
    margin: 0 0 8px;
    padding: 12px;
    width: 100%;
}

#inputContact:focus {
    border: 3px solid black;
}

.addContact button {
    background-color: #FD757B;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    width: 100%;
}

/* notifications */

.notification {
    background-color: #FF4E51;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 12px;
    width: 100%;

}

/* desktop */
@media screen and (min-width: 600px) {
    .appContainer {
        width: 420px;
    }

    .appContainer h1 {
        font-size: 72px;
        margin: 30px 0;
    }
}