:root {
    --border-radius-large: 16px;
    --border-radius-small: 12px;
    --button-height: 40px;
    --font-size-h2: 20px;

}

body {
    background-color: #F35C5E;
    background-color: #F2F0FE;

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

/* app */
.appContainer {
    width: 300px;
}

.appContainer h2 {
    font-size: var(--font-size-h2);
    color: black;
    text-align: center;

}

/* contact item */

.contact {
    background-color: #FEFEFE;
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px;
}

.contact button {
    align-self: center;
    background-color: #D3E6FF;
    border: none;
    border-radius: var(--border-radius-small);
    color: #2E3744;
    font-size: 16px;
    height: var(--button-height);
    width: 80px;
}

.contact__person #name {
    color: #2E3744;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 6px;
}

.contact__person #number {
    color: #aab3bf;
    font-size: 16px;
    font-weight: 500;
    margin: 0;

}

/* search contacts */

.search input {
    border: none;
    border-radius: var(--border-radius-small);
    padding: 12px;
    width: calc(100% - 24px);
}

/* add contact */

div.addContact__input {
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.addContact #inputContact {
    background-color: #fff;
    /* border: 3px solid white; */
    border: none;
    border-radius: var(--border-radius-small);
    margin: 0 0 8px;
    padding: 12px;
    width: calc(100% - 24px);
}

#inputContact:focus {
    border: 3px solid black;
}

.addContact button {
    background-color: #6152BE;
    border: none;
    border-radius: var(--border-radius-small);
    height: var(--button-height);
    width: 100%;
}

/* notifications */

.notification {
    background-color: #DB8673;
    border-radius: var(--border-radius-small);
    color: black;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}